
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Create your listing and start to sell your ICO.  All listings are created without a login and paid out instantly to your bitcoin address.
        </p>
        <p><a class="btn btn-default" href="/Listing/Create/colu">New Listing &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Open Source</h2>
        <p>The code for this project is Open Sourced.</p>
    </div>
    <div class="col-md-4">
        <h2>Help</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>